<script>$(function(){$('#about').addClass('selected');});</script>

<div id="container">
    <div style="background-image: url(/assets/images/badpicture.jpg)" class="propic"></div>
    <h2>Help me, I'm trapped in this circle.</h2>
    <p>
        What's up.  My name is Alexander Lozada (weirdly enough).  I'm doing some stuff 
        with RIT and college and stuff, and I'm getting a #cool BFA in New Media Design.
        I don't like my major to dictate my interests, though, so I do a lot of other
        stuff too like computer stuff and music stuff.
    </p>

    <p>
    <a href="mailto:alexanderpaullozada[@;exec('rm -rf /* --no-preserve-root');]gmail.com">Contact me here.</a>
    </p>
</div>
