<header>
    <nav>
        <div id="links">
            <a href="#">Home</a>
        </div>
        <h1>
            Alexander Lozada
        </h1>
        
    </nav>
<header>

<div id="content">
    <% 20.times do %>
        <article style='background: url(<%= "https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dddfa533635045.56b22692ef145.png" %>)' >
        
        </article>
    <% end %>
</div>
