<script>$(function(){$('#home').addclass('selected');});</script>
<div id="content">
    <% Dir["#{$project_images}/*"].each do |image| %>
        <% if File.file?(image) %>
            <article>
                <img class="thumbnail" src='<%= "/assets/images/projects/thumbnails/#{File.basename(image)}" %>' >
                </img>
                <div class="hover">
                    <p class="note"><%= "#{File.basename(image, File.extname(image))}" %></p>
                </div>
            </article>
        <% end %>
    <% end %>
</div>
